
.section-padding{
  padding:60px 0;
}
.brand-carousel {
  background: #eee;
  margin-top: 10%;
}
.owl-dots{
  text-align: center;
}

.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #222222 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}

.owl-dot.active {
  background-color: #FF170F !important;
}



/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
.testimonial{
  width: 150px!important;
  height:150px;
  border-radius: 50%;
}
.single-logo{
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  text-align: justify;
  margin:5px 20px;
}
.box{
  margin:10px 150px;
  padding-bottom: 10px;
  
}

